html {
    --background: rgb(193, 225, 193);
    --background-light: color-mix(in srgb, var(--background), white);
    --background-lighter: color-mix(in srgb, var(--background), white 75%);
            }

html.dark {
    --background: rgb(53, 94, 59);
    --background-dark: color-mix(in srgb, var(--background), black);
    --background-darker: color-mix(in srgb, var(--background), black 75%);
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h1 + h2 {
    font-size: 1.1rem;
    margin-top: -1.4rem;
    opacity: 0.9;
    font-weight: 400;
}

main {
    margin: auto;
}

/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 300 to 700*/

.title-font {
                font-family: "Quicksand", sans-serif;
                font-weight: 400;
                font-optical-sizing: auto;
                font-style: normal;
            }